PORT=3000
MINIO_ENDPOINT=127.0.0.1
MINIO_PORT=6767
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=Admin@1234567
MINIO_BUCKET=mobile-images
UPLOAD_URL_EXPIRE_SECONDS=600
MAX_FILE_SIZE_BYTES=104857600
MULTIPART_THRESHOLD_BYTES=20971520
MULTIPART_PART_SIZE_BYTES=8388608
